<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<!-- main start -->
<section class="bg-white my-5 py-3">
    <div class="container w-50 m-auto ">
        <div class="text-center my-3">
            <h2>Create Blog</h2>
        </div>
        <form action="/blog" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
              <label for="title" class="form-label">Blog Title:</label>
              <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="mb-3">
              <label for="img" class="form-label">Image URL</label>
              <input type="text" class="form-control" id="img" name="img" required>
            </div>
            <div class="mb-3">
              <label for="content" class="form-label">Content</label>
              <textarea name="content" id="content" cols="30" rows="10" class="form-control " required></textarea>
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</section>
<!-- main end -->
<%- include('../partials/footer') %>